doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 3
    link(rel='stylesheet', href='./css/d-03.css')
  body
    #big
      #small

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-03.js')
