doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Visual Quotes
    link(rel='stylesheet', href='./css/d-06.css')
  body
    #controls
      h1 Visual Quotes
      input#symbol(type='text')
      button#add Add
    #quotes

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-06.js')
