doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Traceur
    link(rel='stylesheet', href='./css/d-23.css')
  body
    #controls
      h1 Traceur
      input#data(type='text')
      button#go Go
    #results

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-23.js')
